/* Estilos generales */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
}

/* Modo nocturno */
body.dark-mode {
  background-color: #000;
  color: #fff;
}

.dark-mode .menu a,
.dark-mode .toggle i {
  color: #fff;
}

.dark-mode .menu a:hover {
  color: #ccc;
}

/* Barra de navegación */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
}

.logo {
  display: flex;
  align-items: center;
}
.logo h4 {
  font-size: 18px;
  color: #333;
  margin-left: 10px;
}
.logo img {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.logo span {
  font-weight: bold;
}

.menu {
  display: flex;
  align-items: center;
}

.menu-item {
  margin-left: 20px;
}

.menu-item a {
  position: relative;
  display: inline-block;
  color: #333;
  text-decoration: none;
  padding: 10px;
}

.menu-item a:hover {
  color: #1E90FF;
}

/* Indicador de menú activo */
.menu-item.active::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #1E90FF;
}

/* Menú desplegable */
.submenu {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.menu-item:hover .submenu {
  display: block;
}

.submenu-item {
  padding: 10px;
}

.submenu-item a {
  display: block;
  color: #333;
  text-decoration: none;
}

.submenu-item a:hover {
  color: #1E90FF;
}

  /* Sección de inicio */
  .inicio {
	height: 100vh;
	background-image: url("https://images.unsplash.com/photo-1488590528505-98d2b5aba04b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
  .inicio .contenido {
  text-align: center;
  }
  
  .inicio h1 {
  font-size: 60px;
  margin-bottom: 20px;
  color: #1E90FF;
  text-shadow: 2px 2px 4px #fff;
  }
  
  .inicio p {
  font-size: 20px;
  margin-bottom: 20px;
  max-width: 600px;
  line-height: 1.6;
  color: #1E90FF;
  text-shadow: 2px 2px 4px #fff;
  }
  
  .boton {
  display: inline-block;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.3s ease;
  }
  
  .boton:hover {
  background-color: #fff;
  color: #333;
  }
  
  /* Sección "Acerca de" */
  .acerca-de {
  padding: 100px 0;
  background-color: #f7f7f7;
  }
  
  .acerca-de .contenido {
  max-width: 800px;
  margin: auto;
  text-align: center;
  }
  
  .acerca-de h2 {
  font-size: 36px;
  margin-bottom: 20px;
  }
  
  .acerca-de p {
  font-size: 20px;
  margin-bottom: 20px;
  line-height: 1.6;
  }
  
  /* Sección "Habilidades" */

.barra {
  height: 10px;
  background-color: #ddd;
  border-radius: 5px;
  position: relative;
  overflow: hidden; /* Agrege un overflow para ocultar el contenido que desborda */
}

.porcentaje {
  height: 100%;
  background-color: #007aff;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  transition: width 1s ease;
}

.porcentaje::after {
  content: attr(data-porcentaje) "%";
  position: absolute;
  right: -30px;
  top: -20px;
  font-size: 14px;
  font-weight: bold;
  color: #007aff;
}

  
/* Sección proyectos */
.proyectos {
  background-color: #f2f2f2;
  padding: 50px;
  overflow: hidden; /* Agregamos un overflow para evitar desbordamientos */
}

.proyectos .contenido {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  margin-top: 30px;
}

/* Ajustamos el tamaño de las imágenes en los proyectos */
.proyectos .proyecto img {
  width: 100%;
  height: 200px; /* Ajusta la altura según tus necesidades */
  object-fit: cover; /* Ajusta el tamaño de la imagen */
}

/* Sección "Contacto" */
#contacto {
  background-color: #f2f2f2;
  padding: 50px;
  overflow: hidden; /* Agregamos un overflow para evitar desbordamientos */
}

#contacto .contenedor {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

/* Ajustamos el ancho de los campos de entrada en el formulario de contacto */
#contacto form input,
#contacto form textarea {
  width: 100%;
  max-width: 400px; /* Limita el ancho máximo según tus necesidades */
}

/* Ajustamos el espacio entre los elementos de contacto */
#contacto .contacto-info div {
  margin-bottom: 10px;
}

  
  /* Footer */
  footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  }
  
  footer p {
  margin: 0;
  font-size: 14px;
  }
  
  footer a {
  color: #fff;
  text-decoration: none;
  }
  
  footer a:hover {
  text-decoration: underline;
  }
/*Rev.05.22.04
